<div class="container">
  <h1 class="authPageHeader">Login</h1>

  <% if (errorMessages.passportErrors.length > 0) { %>
  <div class="errorContainer">
    <p class="errorMessage"><%= errorMessages.passportErrors %></p>
  </div>
  <% } %>

  <form method="POST" action="/auth/login" class="from">
    <div class="inputContainer">
      <label for="username">Username</label>
      <input
        type="text"
        name="username"
        id="username"
        autocomplete="username"
      />
      <!-- <p class="fieldErrorMessage">Please enter a username.</p> -->
    </div>
    <div class="inputContainer">
      <label for="password">Password</label>
      <div class="passwordInputField">
        <input
          type="password"
          name="password"
          id="password"
          autocomplete="current-password"
        />
        <button type="button" class="passwordVisibilityBtn passwordInvisible">
          <img
            src="/assets/icons/password_not_visible.svg"
            alt="show password"
          />
        </button>
      </div>
    </div>
    <button class="submitBtn" type="submit">Submit</button>
  </form>
</div>
