<dialog id="uploadPopover">
  <div class="popoverHeader">
    <div class="popoverTitleContainer">
      <img src="/assets/icons/upload.svg" alt="Upload icon" draggable="false" />
      <p class="popverTitle">Upload an image</p>
    </div>
    <button class="closeBtn">
      <img src="/assets/icons/close.svg" alt="Close icon" />
    </button>
  </div>
  <div class="uploadFromSharePage">
    <div class="shareCodeContainer">
      <p class="shareCodeLabel">Share code:</p>
      <div class="shareCodeShow">
        <p class="shareCode">Af4R7</p>
        <button class="shareCodeCopyBtn" type="button">
          <img src="/assets/icons/copy.svg" alt="" draggable="false" />
        </button>
      </div>
    </div>
  </div>
</dialog>

<!-- <form class="fileUploadForm popoverForm" method="POST" action="/">
    <button class="uploadSelectBtn" type="button">
      <div class="uploadBtnInstruction">
        <img src="/assets/icons/add_photo.svg" alt="" draggable="false" />
        <p>Click here to select an image</p>
      </div>
    </button>
    <input type="file" name="image" id="imagePicker" />

    <div class="inputField">
      <label for="filePasswordInput">
        <img src="/assets/icons/lock.svg" alt="" /> Secure with a password
        (Optional)</label
      >
      <div class="passwordInputField">
        <input
          type="password"
          name="filePasswordInput"
          id="filePasswordInput"
          maxlength="8"
          autocomplete="off"
        />
        <button type="button" class="passwordVisibilityBtn passwordInvisible">
          <img
            src="/assets/icons/password_not_visible.svg"
            alt="show password"
          />
        </button>
      </div>
    </div>

    <div class="expiryDatefield">
      <p class="expiryDatefieldTitle">
        <img src="/assets/icons/schedule.svg" alt="" />
        Expiry date:
      </p>
      <div class="radioGroup">
        <input type="radio" name="expiryDate" id="radio_1" checked />
        <label class="radio_label" for="radio_1">1 day</label>

        <input type="radio" name="expiryDate" id="radio_2" />
        <label class="radio_label" for="radio_2">3 days</label>

        <input type="radio" name="expiryDate" id="radio_3" />
        <label class="radio_label" for="radio_3">7 days</label>

        <input type="radio" name="expiryDate" id="radio_4" />
        <label class="radio_label" for="radio_4">15 days</label>
      </div>
    </div>
    <button type="submit" class="submitBtn">Upload</button>
  </form> -->
