<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- authMode === "login" ? 'Login' : 'Register' %></title>
    <link rel="stylesheet" href="/css/authPage.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/authPage.js" defer></script>
  </head>
  <body>
    <% if (authMode === "login") { %>
    <%- include('./partials/loginForm.ejs') %>
    <% } else{ %>
    <%- include('./partials/registerForm.ejs') %>
    <% } %>
  </body>
</html>
