<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Style sheets -->
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/fileSystem.css" />

    <!-- Scripts -->
    <script src="/js/index.js" defer></script>
    <script src="/js/fileSystem.js" defer></script>

    <title>Sharodin</title>
  </head>

  <body>
    <header>
      <nav>
        <button class="uploadBtn">
          <img
            src="/assets/icons/upload.svg"
            alt="Upload icon"
            draggable="false"
          />
          Upload an image
        </button>
        <button class="downloadBtn">
          <img
            src="/assets/icons/download.svg"
            alt="Download icon"
            draggable="false"
          />
          Receive an image
        </button>
      </nav>
    </header>

    <div class="contentBody">
      <%- include('./partials/forms/uploadForm.ejs') %> <%-
      include('./partials/forms/downloadForm.ejs') %> <%-
      include('./partials/downloadPage.ejs') %> <%-
      include('./partials/fileSystem/fileList.ejs') %>
    </div>
  </body>
</html>
