.authPageHeader {
  color: white;

  font-size: 1.5rem;
  font-weight: 400;

  margin-top: 50px;
}

.errorContainer {
  height: 0;

  min-width: 250px;
  max-width: 250px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  color: white;
  background-color: rgba(220, 20, 60, 0.302);

  border-radius: 5px;
  border: 1px solid red;

  overflow: hidden;

  animation: openUp 0.3s ease forwards;

  opacity: 0;
}

.fieldErrorMessage {
  height: 0px;

  font-size: 0.9rem;

  color: crimson;

  animation: openUp 0.3s ease forwards;

  font-weight: 500;

  opacity: 0;
}

@keyframes openUp {
  to {
    height: 30px;
    opacity: 1;
  }
}

.container {
  background-color: rgb(21, 21, 21);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  border-radius: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  margin: 30px 30px 0 30px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

label {
  color: white;
}

input {
  height: 25px;
  width: 250px;

  padding: 0 5px;
}

.passwordInputField,
.rePasswordInputField {
  display: grid;
  grid-template-areas: "pile";
  place-items: center;
}

.passwordInputField input,
.passwordInputField button,
.rePasswordInputField input,
.rePasswordInputField button {
  grid-area: pile;
}

.passwordInputField button,
.rePasswordInputField button {
  justify-self: end;
  margin-right: 5px;
}

.passwordVisibilityBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  border: none;
}

.submitBtn {
  height: 30px;
  width: 100px;

  display: flex;
  align-items: center;
  justify-content: center;

  align-self: flex-end;

  border-radius: 8px;
  border: none;

  margin-top: 25px;
}

.authFromRedirect {
  height: 30px;
  width: fit-content;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  color: white;

  padding: 0 10px;

  margin-bottom: 30px;
}

.authFromRedirect a {
  color: white;
}

.authFromRedirect a:hover {
  color: lightcoral;
}

.authFromRedirect a:visited {
  color: lightblue;
}

@media (max-width: 600px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;

    font-size: 1.1rem;
  }

  input {
    height: 25px;
    width: 250px;

    padding: 0 5px;

    align-self: center;
  }

  .submitBtn {
    height: 30px;
    width: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    align-self: flex-end;
  }
}
