<dialog id="createFolderPopover" class="slideIn">
  <div class="popoverHeader">
    <div class="popoverTitleContainer">
      <img
        src="/assets/icons/newFolder.svg"
        alt="New folder icon"
        draggable="false"
      />
      <p class="popverTitle">Create a new folder</p>
    </div>

    <button class="closeBtn">
      <img src="/assets/icons/close.svg" alt="Close icon" />
    </button>
  </div>

  <form class="newFolderForm popoverForm" action="folder/new" method="POST">
    <div class="folderFormInputField">
      <label for="folderName">
        <img src="/assets/icons/folder.svg" alt="Folder icon" />Folder
        name:</label
      >
      <input type="text" name="folderName" id="folderName" />
    </div>

    <button type="submit" class="submitBtn">Submit</button>
  </form>
</dialog>
