<dialog id="createFolderDialog" class="modal">
  <div class="dialogHeader">
    <div class="dialogTitleContainer">
      <img src="/assets/icons/newFolder.svg" alt="New folder icon" />
      <p class="popverTitle">Create a new folder</p>
    </div>

    <button class="closeBtn" commandfor="createFolderDialog" command="close">
      <img src="/assets/icons/close.svg" alt="Close icon" />
    </button>
  </div>

  <form
    id="newFolderForm"
    class="popoverForm"
    action="/folder/new"
    method="POST"
  >
    <div class="inputContainer">
      <label for="folder_name">
        <img src="/assets/icons/folder.svg" alt="Folder icon" />Folder
        name:</label
      >
      <input type="text" name="folder_name" id="folder_name" />
    </div>

    <button type="submit" class="submitBtn">Submit</button>
  </form>
</dialog>
