<dialog id="deleteFolderPopover" class="popover slideIn">
  <div class="popoverHeader">
    <div class="popoverTitleContainer">
      <img
        src="/assets/icons/delete.svg"
        alt="New folder icon"
        draggable="false"
        style="filter: invert()"
      />
      <p class="popverTitle">Are you sure?</p>
    </div>

    <button class="closeBtn">
      <img src="/assets/icons/close.svg" alt="Close icon" />
    </button>
  </div>
  <p class="deleteFormWarning">
    You are about to delete the folder [folder name]
  </p>
  <div class="deleteFolderPopupFileList">
    <div class="deleteFolderPopupFileListTitle">
      <p>All these files will also be deleted</p>
    </div>
    <div class="deleteFolderPopupFileCard"></div>
  </div>

  <form class="deleteFolderForm popoverForm" action="/" method="POST">
    <button type="submit" class="submitBtn submitDeleteBtn">Delete</button>
  </form>
</dialog>
