<% if (modalOpen === "deleteFolder") { %>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const popover = document.getElementById("deleteFolderDialog");

    popover.inert = true;

    popover.showModal();

    popover.inert = false;
  });
</script>
<% } %>

<dialog id="deleteFolderDialog" class="modal">
  <div class="dialogHeader">
    <div class="dialogTitleContainer">
      <img
        src="/assets/icons/delete.svg"
        alt="New folder icon"
        class="invertImg"
      />
      <p class="dialogTitle">Are you sure?</p>
    </div>

    <button class="closeBtn" commandfor="deleteFolderDialog" command="close">
      <img src="/assets/icons/close.svg" alt="Close icon" />
    </button>
  </div>
  <p class="deleteFormWarning">
    You are about to delete the folder
    <span class="folderName"><%= values?.folder?.folder_name%></span>
  </p>

  <% if (values?.folder?.posts?.length > 0) { %>
  <div class="deleteFolderPopupFileList">
    <div class="deleteFolderPopupFileListTitle">
      <img src="/assets/icons/warning.svg" alt="" />
      <p>All these files will also be deleted:</p>
    </div>
    <div class="deleteFolderPopupFileCard">
      <% values?.folder?.posts?.forEach(post => { %>
      <%- include('../postCard.ejs', {post}) %>
      <% }) %>
    </div>
  </div>
  <% } else {%>
  <p class="emptyFolderMessage">This folder contains no files.</p>
  <% } %>

  <form
    class="deleteFolderForm popoverForm"
    action="/folder/delete/<%= values?.folder?.id %>"
    method="POST"
  >
    <button type="submit" class="submitBtn submitDeleteBtn">Delete</button>
  </form>
</dialog>
