<% if (modalOpen === "downloadForm") { %>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const popover = document.getElementById("downloadDialog");

    popover.inert = true;

    popover.showModal();

    popover.inert = false;
  });
</script>
<% } %>

<dialog id="downloadDialog" class="modal">
  <div class="dialogHeader">
    <div class="dialogTitleContainer">
      <img
        src="/assets/icons/download.svg"
        alt="Download icon"
        draggable="false"
      />
      <p class="dialogTitle">Receive an image</p>
    </div>

    <button class="closeBtn" commandfor="downloadDialog" command="close">
      <img src="/assets/icons/close.svg" alt="Close icon" />
    </button>
  </div>

  <form
    class="fileDownloadForm popoverForm"
    action="/post/download"
    method="POST"
  >
    <div class="inputContainer">
      <label for="shareCode">
        <img src="/assets/icons/shareCode.svg" alt="" />Enter share code:</label
      >
      <input
        class="codeInputField"
        type="text"
        name="shareCode"
        id="shareCode"
        maxlength="5"
        autocomplete="off"
        value="<%= values?.shareCode %>"
      />
    </div>

    <div class="inputContainer">
      <label for="postPassword">
        <img src="/assets/icons/lock.svg" alt="" />Enter password (If
        applicable):</label
      >
      <div>
        <input
          class="codeInputField"
          type="password"
          name="postPassword"
          id="filePasswordInput"
          maxlength="8"
        />
        <button type="button" class="passwordVisibilityBtn passwordInvisible">
          <img
            src="/assets/icons/password_not_visible.svg"
            alt="show password"
          />
        </button>
      </div>
    </div>

    <button type="submit" class="submitBtn">Submit</button>
  </form>
</dialog>
