<% if (modalOpen === "editFolder") { %>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const popover = document.getElementById("editFolderPopover");

    popover.inert = true;

    popover.showModal();

    popover.inert = false;
  });
</script>
<% } %>

<dialog id="editFolderPopover" class="popover slideIn">
  <div class="popoverHeader">
    <div class="popoverTitleContainer">
      <img
        src="/assets/icons/edit.svg"
        alt="New folder icon"
        draggable="false"
      />
      <p class="popverTitle">Edit folder name</p>
    </div>

    <button class="closeBtn">
      <img src="/assets/icons/close.svg" alt="Close icon" />
    </button>
  </div>

  <form
    class="newFolderForm popoverForm"
    action="/folder/edit/<%= values?.folder?.id %>"
    method="POST"
  >
    <div class="folderFormInputField">
      <label for="folderName">
        <img src="/assets/icons/folder.svg" alt="Folder icon" />Folder
        name:</label
      >
      <input
        type="text"
        name="folder_name"
        id="folderName"
        value="<%= values?.folder?.folder_name %>"
      />
    </div>

    <button type="submit" class="submitBtn">Submit</button>
  </form>
</dialog>
