<% if (modalOpen === "uploadForm") { %>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const popover = document.getElementById("uploadPopover");

    popover.inert = true;

    popover.showModal();

    popover.inert = false;
  });
</script>
<% } %>

<dialog id="uploadPopover" class="slideIn">
  <div class="popoverHeader">
    <div class="popoverTitleContainer">
      <img src="/assets/icons/upload.svg" alt="Upload icon" draggable="false" />
      <p class="popverTitle">Upload an image</p>
    </div>
    <button class="closeBtn">
      <img src="/assets/icons/close.svg" alt="Close icon" />
    </button>
  </div>

  <form
    class="fileUploadForm popoverForm"
    method="POST"
    action="/post/upload"
    enctype="multipart/form-data"
  >
    <button class="uploadSelectBtn" type="button">
      <div class="uploadBtnInstruction">
        <img src="/assets/icons/add_photo.svg" alt="" draggable="false" />
        <p>Click here to select an image</p>
      </div>
    </button>
    <input type="file" name="selected_image" id="imagePicker" />

    <div class="inputField">
      <label for="postPassword">
        <img src="/assets/icons/lock.svg" alt="" /> Secure with a password
        (Optional)</label
      >
      <div class="passwordInputField">
        <input
          type="password"
          name="postPassword"
          id="filePasswordInput"
          maxlength="8"
        />
        <button type="button" class="passwordVisibilityBtn passwordInvisible">
          <img
            src="/assets/icons/password_not_visible.svg"
            alt="show password"
          />
        </button>
      </div>
    </div>

    <div class="expiryDatefield">
      <p class="expiryDatefieldTitle">
        <img src="/assets/icons/schedule.svg" alt="" />
        Expiry date:
      </p>
      <div class="radioGroup">
        <input type="radio" name="expiryDate" id="radio_1" value="1" checked />
        <label class="radio_label" for="radio_1">1 day</label>

        <input type="radio" name="expiryDate" id="radio_2" value="3" />
        <label class="radio_label" for="radio_2">3 days</label>

        <input type="radio" name="expiryDate" id="radio_3" value="7" />
        <label class="radio_label" for="radio_3">7 days</label>

        <input type="radio" name="expiryDate" id="radio_4" value="15" />
        <label class="radio_label" for="radio_4">15 days</label>
      </div>
    </div>
    <button type="submit" class="submitBtn">Upload</button>
  </form>
</dialog>
