<div class="file" title="File">
  <div class="fileTitle">
    <img src="/assets/icons/image.svg" alt="" />
    <p class="fileDetail fileTitleText" title="Name">
      danny-greenberg-tnL9CSDgiJE-unsplash.jpg
    </p>
  </div>

  <p class="fileDetail fileSize" title="size">7.88 MB</p>
  <p class="fileDetail fileShareCode" title="Share code">sCdFz</p>
  <p class="fileDetail fileCreationDate" title="Creation date">
    08 July 2026 at 6:59 PM
  </p>
  <p class="fileDetail fileExpirationDate" title="Expiration date">
    08 July 2026 at 6:59 PM
  </p>

  <div class="fileAction">
    <button class="fileDeleteBtn" title="Delete">
      <img src="/assets/icons/delete.svg" alt="Delete icon" />
    </button>
  </div>
</div>
