<div class="folder">
  <div class="folderHeader">
    <div class="folderTitleContainer">
      <img src="/assets/icons/folder.svg" alt="" />
      <p class="folderTitle">Folder</p>
    </div>

    <div class="folderHeaderActions">
      <button class="folderDeleteBtn">
        <img src="/assets/icons/delete.svg" alt="" />
      </button>
    </div>
  </div>

  <div class="fileContainer">
    <%- include('./file.ejs') %><%- include('./file.ejs') %><%-
    include('./file.ejs') %><%- include('./file.ejs') %>
  </div>
</div>
