<div
  class="folder preload <%- folder.posts.length < 1 && 'collapse' %>"
  data-folderId="<%= folder.id %>"
>
  <div class="folderHeader">
    <div class="folderTitleContainer">
      <img src="/assets/icons/folderWhite.svg" alt="" />
      <p class="folderTitle"><%= folder.folder_name %></p>
    </div>

    <div class="folderHeaderActions">
      <div class="folderOptions">
        <% if (allData.folders.length > 1) { %>
        <button class="folderDeleteBtn folderActBtn">
          <img src="/assets/icons/delete.svg" alt="Delete icon" />
        </button>
        <% } %>

        <button class="folderShareBtn folderActBtn">
          <img src="/assets/icons/share.svg" alt="Share icon" />
        </button>

        <button class="folderEditBtn folderActBtn">
          <img src="/assets/icons/edit.svg" alt="Edit icon" />
        </button>
      </div>

      <button class="folderOptionsBtn">
        <img src="/assets/icons/left.svg" alt="" />
      </button>

      <button class="folderCollapseBtn">
        <img src="/assets/icons/downBlack.svg" alt="Collapse icon" />
      </button>
    </div>
  </div>

  <div class="fileContainer">
    <% if (folder.posts.length < 1) { %>
    <p class="nofileText">This folder is empty.</p>
    <% } else{%>
    <% folder.posts.forEach(post => { %>
    <%- include('./file.ejs', {postData: post}) %>
    <% }) %>
    <% } %>
  </div>
</div>
